main{
    display: grid;
    max-width: 900px;
    grid-template-columns: repeat(6, 1fr);
    background-color:#ccc;
    margin: 0 auto;
    
    
}
main > div{
border: 1px solid #777;
    padding: 20px;
    text-align: center;
}
.item-1{
    grid-column: 1 / span 2;
}
.item-2{
    grid-column: span 3;
}
